﻿@model ControleDeUsers.MVC.Models.LoginModel

<div class="modal show" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="text-center">WELCOME!</h2>
                <h4 class="text-center">Please enter your username and password.</h4>
            </div>
            <div class="modal-body">
                <section id="loginForm">
                    @using (Html.BeginForm(new { @class = "form col-md-12 center-block", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true, "", new { @class = "alert alert-danger" })
                        @Html.ValidationMessage("DefaultErrorMessage", "", new { @class = "text-danger" })
                        <div class="form-group">
                            @Html.TextBoxFor(model => model.Email, new { @class = "form-control input-lg", @placeholder = "Username" })
                            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.PasswordFor(model => model.Password, new { @class = "form-control  input-lg", @placeholder = "Password" })
                            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            <div>
                                <input type="submit" value="Log in" class="btn btn-default" />
                            </div>
                        </div>
                    }
                </section>
                <p>

                <p class="form-group">@Html.ActionLink("Register a new account", "Register", "Register")</p>
                </p>
                <p>

                <p class="form-group">@Html.ActionLink("Start without account", "Index", "Home")</p>
                </p>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}